Business/obj/Debug/BusinessLogic.csprojResolveAssemblyReference.cache
Business/obj/Debug/CoreCompileInputs.cache
Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Business/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Business/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Business/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Business/obj/Debug/BusinessLogic.csproj.FileListAbsolute.txt
DataAccess/obj/Debug/CoreCompileInputs.cache
DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataAccess/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DataAccess/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DataAccess/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Model/obj/Debug/CoreCompileInputs.cache
Model/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Model/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Model/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Model/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Resources/obj/Debug/CommonFunciton.csproj.FileListAbsolute.txt
Resources/obj/Debug/CommonFunciton.csproj.GenerateResource.Cache
Resources/obj/Debug/CommonFunciton.csprojResolveAssemblyReference.cache
Resources/obj/Debug/CoreCompileInputs.cache
Resources/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Resources/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Resources/obj/Debug/Resources.csproj.FileListAbsolute.txt
Resources/obj/Debug/TempPE/Resource1.Designer.cs.dll
Resources/obj/Debug/TempPE/Resources.Designer.cs.dll
Resources/obj/Debug/TempPE/Resources.zh.Designer.cs.dll
Business/bin/Debug/Business.dll
Business/bin/Debug/Business.pdb
Business/bin/Debug/DataAccess.dll
Business/bin/Debug/DataAccess.pdb
Business/bin/Debug/Model.dll
Business/bin/Debug/Model.pdb
Business/bin/Debug/System.Net.Http.dll
Business/bin/Debug/System.Net.Http.xml
Business/bin/Debug/zh-Hans/System.Net.Http.resources.dll
Business/obj/Debug/Business.csproj.FileListAbsolute.txt
Business/obj/Debug/Business.csprojResolveAssemblyReference.cache
Business/obj/Debug/Business.dll
Business/obj/Debug/Business.pdb
DataAccess/bin/Debug/DataAccess.dll
DataAccess/bin/Debug/DataAccess.pdb
DataAccess/bin/Debug/Model.dll
DataAccess/bin/Debug/Model.pdb
DataAccess/bin/Debug/System.Net.Http.dll
DataAccess/bin/Debug/System.Net.Http.xml
DataAccess/bin/Debug/zh-Hans/System.Net.Http.resources.dll
DataAccess/obj/Debug/DataAccess.csproj.FileListAbsolute.txt
DataAccess/obj/Debug/DataAccess.csprojResolveAssemblyReference.cache
DataAccess/obj/Debug/DataAccess.dll
DataAccess/obj/Debug/DataAccess.pdb
Model/bin/Debug/Model.dll
Model/bin/Debug/Model.pdb
Model/bin/Debug/System.Net.Http.dll
Model/bin/Debug/System.Net.Http.xml
Model/bin/Debug/zh-Hans/System.Net.Http.resources.dll
Model/obj/Debug/Model.csproj.FileListAbsolute.txt
Model/obj/Debug/Model.csprojResolveAssemblyReference.cache
Model/obj/Debug/Model.dll
Model/obj/Debug/Model.pdb
Resources/bin/Debug/Microsoft.Web.Infrastructure.dll
Resources/bin/Debug/Microsoft.Web.Infrastructure.xml
Resources/bin/Debug/Model.dll
Resources/bin/Debug/Model.pdb
Resources/bin/Debug/Newtonsoft.Json.dll
Resources/bin/Debug/Newtonsoft.Json.xml
Resources/bin/Debug/Resources.dll
Resources/bin/Debug/Resources.pdb
Resources/bin/Debug/System.Web.Mvc.dll
Resources/bin/Debug/System.Web.Mvc.xml
Resources/bin/Debug/System.Web.Razor.dll
Resources/bin/Debug/System.Web.Razor.xml
Resources/bin/Debug/System.Web.WebPages.Deployment.dll
Resources/bin/Debug/System.Web.WebPages.Deployment.xml
Resources/bin/Debug/System.Web.WebPages.dll
Resources/bin/Debug/System.Web.WebPages.Razor.dll
Resources/bin/Debug/System.Web.WebPages.Razor.xml
Resources/bin/Debug/System.Web.WebPages.xml
Resources/bin/Debug/zh/Resources.resources.dll
Resources/bin/Debug/zh-Hans/System.Web.Mvc.resources.dll
Resources/bin/Debug/zh-Hans/System.Web.Razor.resources.dll
Resources/bin/Debug/zh-Hans/System.Web.WebPages.Deployment.resources.dll
Resources/bin/Debug/zh-Hans/System.Web.WebPages.Razor.resources.dll
Resources/bin/Debug/zh-Hans/System.Web.WebPages.resources.dll
Resources/obj/Debug/CommonFunciton.Resources.resources
Resources/obj/Debug/CommonFunciton.Resources.zh.resources
Resources/obj/Debug/Resources.csproj.GenerateResource.Cache
Resources/obj/Debug/Resources.csprojResolveAssemblyReference.cache
Resources/obj/Debug/Resources.dll
Resources/obj/Debug/Resources.pdb
Resources/obj/Debug/zh/Resources.resources.dll
RoechlingEquipment/bin/Business.dll
RoechlingEquipment/bin/Business.pdb
RoechlingEquipment/bin/DataAccess.dll
RoechlingEquipment/bin/DataAccess.pdb
RoechlingEquipment/bin/Microsoft.Web.Infrastructure.dll
RoechlingEquipment/bin/Microsoft.Web.Mvc.FixedDisplayModes.dll
RoechlingEquipment/bin/Model.dll
RoechlingEquipment/bin/Model.pdb
RoechlingEquipment/bin/Newtonsoft.Json.dll
RoechlingEquipment/bin/Newtonsoft.Json.xml
RoechlingEquipment/bin/Resources.dll
RoechlingEquipment/bin/Resources.pdb
RoechlingEquipment/bin/RoechlingEquipment.dll
RoechlingEquipment/bin/RoechlingEquipment.dll.config
RoechlingEquipment/bin/RoechlingEquipment.pdb
RoechlingEquipment/bin/System.Net.Http.dll
RoechlingEquipment/bin/System.Net.Http.Formatting.dll
RoechlingEquipment/bin/System.Net.Http.Formatting.xml
RoechlingEquipment/bin/System.Net.Http.WebRequest.dll
RoechlingEquipment/bin/System.Net.Http.WebRequest.xml
RoechlingEquipment/bin/System.Net.Http.xml
RoechlingEquipment/bin/System.Web.Helpers.dll
RoechlingEquipment/bin/System.Web.Helpers.xml
RoechlingEquipment/bin/System.Web.Http.dll
RoechlingEquipment/bin/System.Web.Http.WebHost.dll
RoechlingEquipment/bin/System.Web.Http.WebHost.xml
RoechlingEquipment/bin/System.Web.Http.xml
RoechlingEquipment/bin/System.Web.Mvc.dll
RoechlingEquipment/bin/System.Web.Mvc.xml
RoechlingEquipment/bin/System.Web.Razor.dll
RoechlingEquipment/bin/System.Web.Razor.xml
RoechlingEquipment/bin/System.Web.WebPages.Deployment.dll
RoechlingEquipment/bin/System.Web.WebPages.Deployment.xml
RoechlingEquipment/bin/System.Web.WebPages.dll
RoechlingEquipment/bin/System.Web.WebPages.Razor.dll
RoechlingEquipment/bin/System.Web.WebPages.Razor.xml
RoechlingEquipment/bin/System.Web.WebPages.xml
RoechlingEquipment/bin/zh/Resources.resources.dll
RoechlingEquipment/bin/zh-Hans/System.Net.Http.Formatting.resources.dll
RoechlingEquipment/bin/zh-Hans/System.Net.Http.resources.dll
RoechlingEquipment/bin/zh-Hans/System.Net.Http.WebRequest.resources.dll
RoechlingEquipment/bin/zh-Hans/System.Web.Helpers.resources.dll
RoechlingEquipment/bin/zh-Hans/System.Web.Http.resources.dll
RoechlingEquipment/bin/zh-Hans/System.Web.Http.WebHost.resources.dll
RoechlingEquipment/bin/zh-Hans/System.Web.Mvc.resources.dll
RoechlingEquipment/bin/zh-Hans/System.Web.Razor.resources.dll
RoechlingEquipment/bin/zh-Hans/System.Web.WebPages.Deployment.resources.dll
RoechlingEquipment/bin/zh-Hans/System.Web.WebPages.Razor.resources.dll
RoechlingEquipment/bin/zh-Hans/System.Web.WebPages.resources.dll
RoechlingEquipment/bin/Model.dll
RoechlingEquipment/obj/Debug/RoechlingEquipment.dll
RoechlingEquipment/obj/Debug/RoechlingEquipment.pdb
